.mask {
    width: 100%;
    height: 100%;
    position: relative;
}

.into-img {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.head {
    width: 100%;
    height: 100%;
}

.head .content {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
}

.head .content h1 {
    font-size: 4rem;
    font-weight: 400;
    padding-bottom: 20px;
}

.head .content p {
    font-size: 1.2rem;
    padding: 0.6rem 0 1.5rem;
    letter-spacing: 2px;
}

.content .btn {
    margin: 1rem 0.2rem;
}

.mask::after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.7;

}

@media screen and (max-width:768px) {
    .head .content h1 {
        font-size: 2.6rem;
        padding-bottom: 5px;
    }

    .head .content p {
        font-size: 0.8rem;
        padding:  0 0.5rem;
    }

    .btn {
        padding: 8px 25px 0 0;
        font-size: 0.8rem;
        width: 60%;
        align-self: center;
    }
}

@media screen and (min-width: 575px) and (max-width: 768px) {
    
    .head .content {
        top: 38%;
    }

    .btn {
        padding: 5px 5px 5px 5px;
        font-size: 0.8rem;
        text-transform: uppercase;
        background-color: rgb(248, 217, 15);
        color: black;
        border: 1px solid #fff;
        font-weight: 600;
        cursor: pointer;
        
    }

    .btn-light {
        background: transparent;
        color: #fff;
    }

    .CVContactBtnDiv{
        display: flex;
        flex-direction: row;
    }

    .into-img {
        height: 60vh;
    }

}

@media screen and (min-width: 425px) and (max-width: 575px) {
    
    .head .content {
        top: 28%;
    }
    
    .head .content h1 {
        font-size: 2rem;
        padding-bottom: 2px;
    }

    .head .content p {
        font-size: 0.6rem;
        padding:  0 0.5rem;
    }

    .btn {
        padding: 5px 5px 5px 5px;
        font-size: 0.6rem;
        text-transform: uppercase;
        background-color: rgb(248, 217, 15);
        color: black;
        border: 1px solid #fff;
        font-weight: 600;
        cursor: pointer;
    }

    .btn-light {
        background: transparent;
        color: #fff;
    }

    .CVContactBtnDiv{
        display: flex;
        flex-direction: row;
    }

    .into-img {
        height: 50vh;
    }

}

@media screen and (min-width: 320px) and (max-width: 425px) {
   
    .head .content {
        top: 25%;
    }
    
    .head .content h1 {
        font-size: 1.3rem;
    }

    .head .content p {
        font-size: 0.45rem;
    }
    .btn {
        padding: 5px 5px 5px 5px;
        font-size: 0.4rem;
        text-transform: uppercase;
        background-color: rgb(248, 217, 15);
        color: black;
        border: 1px solid #fff;
        font-weight: 600;
        cursor: pointer;
        
    }

    .btn-light {
        background: transparent;
        color: #fff;
    }

    .CVContactBtnDiv{
        display: flex;
        flex-direction: row;
        width: 110%;
    }

    .into-img {
        height: 40vh;
    }

}

@media screen and (min-width: 0px) and (max-width: 320px) {
    
    .into-img {
        background-size: cover;
        background-position: center;
        object-fit: cover;
    }
    
    .head .content {
        top: 25%;
        width: 80%;
    }
    
    .head .content h1 {
        font-size: 1.5rem;
    }

    .head .content p {
        font-size: 0.45rem;
    }
    .btn {
        padding: 5px 5px 5px 5px;
        font-size: 0.4rem;
        text-transform: uppercase;
        background-color: rgb(248, 217, 15);
        color: black;
        border: 1px solid #fff;
        font-weight: 600;
        cursor: pointer;
        
    }

    .btn-light {
        background: transparent;
        color: #fff;
    }

    .CVContactBtnDiv{
        display: flex;
        flex-direction: row;
        width: 110%;
    }

    .into-img {
        height: 40vh;
    }

}