@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Teko:wght@300&display=swap');

::-webkit-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-track{
  background: rgb(10, 9, 1);
}

::-webkit-scrollbar-thumb{
  background: rgb(194, 197, 12);
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

body{
  background-color: black;
  font-family: 'Fasthand', cursive;
}

h1,h3,h4,h5,p,a{
  color: #fff;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: rgb(248, 217, 15);
  color: black;
  border: 2px solid rgb(248, 217, 15);
  font-weight: 400;
  cursor: pointer;
  letter-spacing: 1px;
}

.btn-light{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  font-weight: 400;
  cursor: pointer;
  letter-spacing: 1px;
}

.btn:hover {
  background: transparent;
  color: rgb(248, 217, 15);
  transition: 0.3s;
  font-weight: 600;
}

.btn-light:hover{
  color: rgb(248, 217, 15);
  border: 2px solid rgb(248, 217, 15);
  transition: 0.3s;
}

.btnView {
  width: 50%;
  padding: 0.5rem 0;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: rgb(219, 191, 8);
  color: black;
  border: 2px solid rgb(219, 191, 8);
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.7px;
  transition: 0.4s;
}

.btnView:hover{
  background-color: transparent;
  color: rgb(219, 191, 8);
  font-weight: 600;
  transition: 0.4s;
}